@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.container{
    max-width: 70rem;
    padding: 0 2rem;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

header:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 25;
}

.mountain1{
    position: absolute;
    bottom: -100px;
    width: 1500px;
    right: 0;
    z-index: 19;
}

.person{
    position: absolute;
    width: 600px;
    bottom: -950px;
    right: 30px;
    z-index: 20;
}

.mountain2{
    position: absolute;
    width: 1100px;
    bottom: -100px;
    left: 0;
    z-index: 18;
}

.mountain3{
    position: absolute;
    width: 900px;
    bottom: 150px;
    right: 0;
    z-index: 17;
}

.sky{
    position: absolute;
    width: 2100px;
    bottom: 250px;
    right: 0;
}

nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    z-index: 30;
    background: linear-gradient(to bottom, #2f2e2d2f, transparent)
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: #e6e6e5;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
     text-shadow: .5px .5px #2f2e2d;
}

.logo span{
    font-weight: 300;
    color: #2f2e2d;
}

.hamburger-menu{
    width: 1.55rem;
    height: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.bar i{
    font-size: 1.1rem;
    color: #fff;
}


.big-title{
    position: absolute;
    z-index: 30;
    line-height: 4rem;
    top: calc(50% - 2rem);
    width: 100%;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    color: #2f2e2d;
}

.bottom-bar {
 position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: url('./img/cogs.png');
  background-position: center; /* Center the image */
  background-repeat: repeat-x;
  background-color: #fefefe1f; /* Do not repeat the image */
}

.bottom-bar-text{
	padding: 0.5rem 7rem;
	color: #e6e6e5;
	text-align: center;
	font-size: 1.1rem;
}

.bottom-bar-text:hover .btn{
	font-size: 1.3rem;
	background: none;
	color: #4285F4;
	text-shadow: 3px 3px 0 #2f2e2d44,  4px 4px 0 #fefefe44, 1px -1px 0 #2f2e2d88, 1px 1px 0 #fefefe88;
}

.btn{
	font-family: 'Poppins', sans-serif;
	color: #e6e6e5;
	padding: .3rem .7rem;
	border-radius: 2rem;
	font-size: 1.1rem;
	background: linear-gradient(to top, #4285F4, transparent);
	border:none;
	pointer-events: all;
	transition: 1.5s;
}


.bottom-sub-title {
    position: absolute;
    z-index: 30;
    line-height: 2rem;
    top: calc(50% + 4rem);
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    color: #e6e6e5;
    text-shadow: 2px 2px 0 #4285F444,  2.5px 2.5px 0 #DB443744, 1px -1px 0 #DB443744, 1px 1px 0 #4285F444;
}


section{
    width: 100%;
    background-color: #151515;
    position: relative;
}

section .container{
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

section img{
    width: 100%;
}

section .container > *{
    margin: 2rem;
}

.content{
    color: #fff;
    transform: translateY(-50px);
}

.imgContainer{
    transform: translateY(50px);
}

.title{
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    position: relative;
}

.border{
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: #fff;
    bottom: 0;
    left: 0;
}

.shadow{
    position: absolute;
    bottom: 100%;
    height: 300px;
    width: 100%;
    left: 0;
    z-index: 20;
    background: linear-gradient(to top, #151515, transparent);
}

.opacity{
    opacity: 0;
}



.overlay {
    background: #786fa633;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

    position: fixed;
    z-index: 40;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .newsletter{
  background-image: linear-gradient(125deg,#4285F4,#fefefe88);
  width: 500px;
  padding: 60px;
  text-align: center;
  box-shadow: 0 0 20px #00000060;
  display: none;
  position: absolute;
  z-index: 55;

}
.newsletter-background{
	position: absolute;
	z-index: 50;
	background-image: linear-gradient(-125deg,#4285F488,#fefefe88);
	height: 100vh;
	width: 100%;
}

.newsletter h1{
  text-transform: uppercase;
  color: #fefefe;
  font-size: 2.1rem;
  line-height: 2.3rem;
}

.newsletter h1 span{
	color: #2f2e2d;
  display: block;
  font-size: 1.7rem;
}

.newsletter p{
  color: #fefefe;
  font-size: 1.1rem;
  margin: 10px 0 40px;
}

.txtb{
  width: 100%;
  height: 70px;
  background: #e1e1e199;
  border-radius: 40px;
  position: relative;
  margin-bottom:  10px;
}

.txtb input{
  width: 100%;
  height: 70px;
  border-radius: 40px;
  border: 0;
  background: none;
  padding: 0 30px;
  outline: none;
  font-size: 15px;
  padding-right: 80px;
}

.txtb button{
  background: #4285F4;
  border: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 10px;
  outline: none;
  cursor: pointer;
  color: #fefefe;
  transition: 0.3s linear;
}

.txtb button:hover{
  opacity: .5;
}



@media (max-width: 850px){
    section .container{
        grid-template-columns: 1fr;
    }
}


@media(max-width: 450px){
    .person{
    	right: 0;
    }

    .big-title{
        font-size: 3rem
    }

    .text{
        font-size: .8rem;
    }

    .title{
        font-size: 1.2rem;
    }
}

@keyframes bntBlue{
	from {background: linear-gradient(to top, #4285F4, transparent);
		border: none;}
	to{background: linear-gradient(to top, #4285F4, #e6e6e53f);}
}